/* main application styling */

.main-container {
    padding: 3rem;
    background-color: lightblue;
  }
  
  .main-heading {
    text-transform: uppercase;
    text-align: center;
    color: white;
  }
  
  .image-container {
    border-radius: 1rem;
    padding: 1.5rem;
  }
  
  .process {
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .process__heading {
    text-transform: uppercase;
    text-align: center;
    color: black;
  }
  
  .process__details {
    text-align: center;
  }
  
  .process__upload-btn {
    display: block;
    margin: 2.5rem auto;
    text-align: center;
  }
  
  .process__image {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
  }
  
  .main-credit {
    text-align: center;
    color: white;
    font-weight: bold;
  }